@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work-sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work-sans-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

html,
/* body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans";
} */




a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

div {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

.ReactCrop__crop-selection {
  /* Regole di stile personalizzate */
  //background-color: red;
  border: none !important;
  opacity: 1;
}
